/*//////////////////////////////////////////////////*/
/* basic setup */
/*//////////////////////////////////////////////////*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    background-color:#fff;
    color: rgb(14, 33, 34);
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix{zoom: 1}
.clearfix:after{
    content:'.';
    clear:both;
    display:block;
    height:0;
    visibility: hidden;
}
 

/*//////////////////////////////////////////////////*/
/* header */
/*//////////////////////////////////////////////////*/
header{
    background-image:linear-gradient(rgba(38, 102, 102, 0.664),rgba(226, 168, 7, 0.452)), url(img/hero.jpg);
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    height:100vh;
    text-align:center;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:300px;
    margin-top:80px;
}

.logo{
    height:150px;
    width:auto;
    margin: 0 15px;
}

.nav-wrapper {
    display: flex;
    justify-content: center;  
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.left-nav{
    list-style: none;
}

.right-nav{
    list-style: none;
}

.nav li {
    width: 200px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.nav li a:link,
.nav li a:visited{
    text-decoration:none;
    font-weight: 300;
    color:white;
    transition: background-color 0.5s;
}

.nav li a:hover,
.nav li a:active{
  color:#e7a97c;
  text-decoration: none;
  font-weight: 400;
  background-color:hsla(180, 46%, 34%, 0.314);
  padding:2px 2px;
  border-radius: 200px;
 }

/*//////////////////////////////////////////////////*/
/* reusable components */
/*//////////////////////////////////////////////////*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

.section-features{
    font-size: 20px;
    background-color: #fff;
    padding: 80px 0px; 
}

/*paragraphs//////////////////////////////////////////////*/
.long-copy{
    line-height: 145%;
    margin-left: 15%;   
}

 .row p{
    font-size : 19px;
    text-align:center;
    font-weight:300;
    letter-spacing:2px;
    word-spacing:1px;
    margin: 0px auto 20px auto;
    line-height: 145%;
    
}
.long-copy.subheader{
    margin-bottom: 70px;
    font-weight: 300i;
    letter-spacing:1px;
    word-spacing:1px;
    font-size:22px;
}

/*////////////////headings//////////////*/
h1,
h2,
h3{
    font-weight:300;
    letter-spacing: 1px;
    text-align:center;    
}

h1{
    margin-top:0;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 230%;
    word-spacing: 3px;
}

h2{
    font-size: 210%;
    font-weight:100;
    word-spacing: 2px;
    margin-bottom:30px;
    color: #d76310 ;
}
/* margin-top:5px;
    margin-bottom:15px;
    margin-left:20px;*/
h3{
    text-align:center;
    font-weight: 400;
    font-size: 26px; 
    
}

h3:after{
    margin:10px auto 15px auto;
    display:block;
    height:1px;
    background-color: #d76310;
    content:" ";
    width: 235px;
}

/*////////icons/////////////////////////////////////*/

.icon-big{
    display: block;
    text-align:center;
    font-size:200%;
    margin-bottom:10px;
    color: #d76310;  
}

.icon-small{
    display: inline-block;
    width:30px;
    text-align:center;
    color:#e7a97c;
    font-size: 120%;
    margin-right:10px;

    /* secrets to align icons and texts */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -3px;
}

/*
.icon-mini{
    display: inline-block;
    width: 15px;
    text-align:center;
    color: black;
    font-size: 5%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -3px;
    
}
*/

/* #ee761bdc*/

/*//////////////buttons////////////////*/
.btn:link,
.btn:visited,
input[type="submit"] {
    display:inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid;
    letter-spacing:1px;
    font-weight:300;
    transition: background-color 0.7s, border 0.7s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"]{
    background-color:#e677228a;
    border-radius: 200px;
    margin-right: 5px;
    color: #fff;
    border-color:hsla(26, 80%, 52%, 0.549);
}
/*#e677228a*/
.btn-ghost:link,
.btn-ghost:visited{
    border-radius: 200px;
    margin-left:5px;
    color:#fff;
    background-color: rgba(38, 102, 102, 0.549);
    border-color: rgba(37, 100, 100, 0.549);
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]{
    background-color: #cf6717dc;
    border:#cf6717dc;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color:#2e7d7dda;
    border:#2e7d7dda;
}


/*//////////////////////////////////////////////////*/
/* MEALS */
/*//////////////////////////////////////////////////*/
.section-meals{
    padding:0;
}
.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display:block;
    float:left;
    width:25%;
}

.meal-photo{
    width:100%;
    margin:0;
    overflow: hidden;
    background-color:black;
}

.meal-photo img{
    width:100%;
    opacity: 0.7;
    height:auto;
    transform: scale(1.15);
    transition: transform 0.8s, opacity 0.8s;
}

.meal-photo img:hover {
   transform: scale(1.04);
   opacity:1;   
}

/*///////////////////FEATURES//////////////*/

/*////////how it works/////////////////////////////*/

.section-steps{
    padding-bottom:30px;
    padding-top:80px;
    background-color:rgb(241, 237, 237);
}

.steps-box:first-child{
    width:49%;
    display:block;
    text-align:right;
    padding-right:3%;
    margin-top:30px;
}

.steps-box:last-child{
    margin-top:50px;
    width:49%;
    display:block;
    padding:3% 0% 1.4% 0%;

}

.app-screen{
    width: 40%;
    height: auto;
}

.works-step p{
    text-align: left;
    font-size: 17px;
    font-weight: 400;
}
.works-step {
    padding-top: 10px;
    margin-bottom: 30px;
   
}

.works-step:last-of-type{
    margin-bottom:70px;
}

.works-step div{
    color:#d76310;
    border: 2px solid #d76310;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 150%;
    font-weight: 300;
    padding: 8px;
    margin-right: 15px;
}

.btn-app img{
    margin-left:50px;
    margin-right:10px;
    height:50px;
    width:auto;
}

/* ///////////////CITIES////////////////////////*/

.section-cities{
    padding-top:90px;
   margin-bottom:120px;
}

.c-box img{
    box-shadow: 8px 8px 10px rgb(163, 162, 162);
    height: auto;
    width:100%;
    margin-right:15px;
    margin-bottom:25px;
}

.city-feature{
    margin-top:10px;
    display:block;
    text-align:left;
    margin-bottom:7px;
}

.city-feature:first-of-type{
    margin-top:25px;
}

.c-box{
   margin-top:60px;
   box-shadow: 5px 5px 5px rgb(223, 219, 219);
   opacity:0.8;
   padding: 20px;
   background-color: rgb(241, 237, 237);
   transition: all 0.3s ease-in-out, opacity 0.3s  ;
}

.c-box:hover{
    box-shadow: 7px 7px 5px rgb(192, 188, 188);
    padding: 20px;
    background-color:rgb(241, 237, 237);
    opacity: 1;
}

.city-feature a{
    text-decoration:none;
    font-weight: 400;
    color: #c08961;
    transition: border 0.5s;
}

.city-feature a:hover{
    padding-bottom:1px;
    border-bottom: 1px solid #e7a97c;
}

/*///////////CUSTOMER TESTIMONIALS///////////*/
/*-----------
---------------------------------------------*/

.section-testimonials{
    padding-top:70px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.801)), url(img/back-customers.jpg);
    background-size:cover;
    color:#fff;
    background-attachment:fixed;
    background-position: center;
    height:67vh;
}

.t-box:before{
    margin-top:15px;
    content: "\201C" ;
    display:block;
    text-align:left;
    font-size:100px;
    color:#c08961;
    position:relative;
    margin-bottom: -50px; 
}

.blockquote{
    position:absolute;
    padding-top: 50px;
    display:block;
    text-align:left;
    margin-left:17px;
}
.t-box img{
    display:block;
    text-align:left;
    position:relative;
    height:50px;
    border-radius:50%;
    margin-right:10px;
    margin-top:17px;
}

.imagez{
   font-weight:100;
   font-size: 15px;
   display: flex;
   justify-content:left;
   align-items:center;
}

/*/////////         #d76310      //////////////////////////////////////////
//////-----------SECTION-PLANS/////////////////////*/

.section-plans{
    background-color: #fff;
    padding-top:45px;
    padding-bottom:100px;
}

.plan-box{
    border: 1px solid rgb(241, 237, 237);
    box-shadow: 5px 5px 7px  rgb(133, 132, 132);
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}

.plan-box .plan-price{
    font-size: 40px;
    color: black;
    font-weight: 100;
}

.plan-box .plan-price-meal{
    font-size:20px;
    color:#d76310;
    font-weight:100;
    margin-top:-15px;     
}

.plan-box ul{
    padding-top:25px;
    margin-bottom: 5pxpx;
    padding-left:27px;
    display: block;
    text-align: left;
    text-decoration: none;
    list-style: none;
}
.plan-box li{
    padding-lefT:-20px;
    padding-bottom: 20px;
    font-weight: 100;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid rgb(209, 207, 207);
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child{
    text-align: center;
    border:0;                       
}                

/*ce se intampla aici??*/
/*primul buton*/

.plan-box i{ 
    padding-right: 10px;
    color: #d76310;
}


/*///////////form///////////*/
/*-----------
---------------------------------------------*/

.contact-form{
    width:60%;
    margin: 0 auto;
    font-size: 17px;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width:100%;
    padding: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    border: 1px solid rgb(180, 180, 180);
}

textarea{
    height:100px;
}

input[type="checkbox"]{
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}

/*///////////footer///////////*/
/*-----------
---------------------------------------------*/

footer{
    margin-top: 30px;
    padding-top: 30px;
    background-color: rgb(58, 58, 58);
}
.footer-nav{
    list-style: none;
    text-decoration: none;
    font-size: 17px;
}

.social-nav{
    font-size: 23px;
    text-align: right;
    list-style-type: none;
}

.footer-nav a:link,
.footer-nav a:visited{
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
    color: rgb(190, 190, 190);
    font-weight: 100;
}

.footer-nav a:hover,
.footer-nav a:active{
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
    color: white;
    font-weight: 100;
}

.social-nav a:not(:last-child) {
    margin-right: 30px;
    text-align: center;
}

.social-nav a:link,
.social-nav a:visited{
    color: rgb(190, 190, 190);
    font-weight: 100;
}

.social-nav a:hover,
.social-nav a:active{
    color: rgb(255, 255, 255);
    font-weight: 100;
}
footer p{
    padding-top:45px;
    padding-bottom: 60px;
    color:rgb(190, 190, 190);
}









/* buna ziua */
/* SARUMANA DOMNISOARA */





